@use "../abstracts/colors" as c;
@use "../abstracts/variables" as v;
@use "../base/functions" as func;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.quantity-input-wrapper {
  display: flex;

  background: c.$light-grayish-blue;
  border-radius: 0.5rem;
  width: fit-content;
  & :is(input, button) {
    padding: 1rem 0;
  }

  & input {
    background: inherit;
    border: none;
    outline: none;
    width: 5rem;
    text-align: center;
    font-weight: bold;
    @media (width < func.rem(1100)) {
      width: 2rem;
    }
    @media (width < func.rem(768)) {
      width: 100%;
    }
  }

  .btn-minus {
    padding-left: 1rem;
  }
  .btn-plus {
    padding-right: 1rem;
  }

  .btn-minus,
  .btn-plus {
    color: c.$orange;
    transition: v.$main-transition;
  }
  .btn-minus:is(:hover, :focus),
  .btn-plus:is(:hover, :focus) {
    opacity: 0.5;
  }
}
